.button{
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all .3s;
}

.primary{
  background-color: var(--primary);
  color: var(--white);
  border: 0;
}

.primary:hover{
  background-color: var(--primary-hover);
}

.ghost{
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--grey-light);
}

.ghost:hover{
  background-color: var(--primary);
  color: var(--white)
}